<html ng-app="myCv">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
</head>

<body ng-controller='cvCtrl'>
  <!--<div class="col-md-6 col-md-offset-6">-->
  <div class="row">
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="title text-center">
          <span class="mrRobot">Thalles<br/>
            Manjaterra</span>
            <div class="dados">
              age<span class="detalhe">:</span><span class="string">"23 years old (1<sup>st</sup> October 1992)"</span>,<br/>
              address<span class="detalhe">:</span><span class="string">"144 Itororó ST - Jd.Aurora - Mogi Mirim/SP"</span>,</br>
              zipCode<span class="detalhe">:</span><span class="number">13.806-020</span>;
            </div>
          </div>
        </div>
      </div>
      <div class="barra">
        <ul>
          <li>
            <i class="fa fa-arrow-circle-right"></i>
          </li>
          <li>
            <a href=""> thalles.manjaterra@gmail.com</a>
          </li>
          <li>
            (19)3806-7563/3862-2411
          </li>
          <li>
            (19)9 9552-3058
          </li>
        </ul>
      </div>

<div class="container">
      <div class="row">
        <div class="containerLinks">

          <div class="checkout" ng-repeat="imagem in imagens" >

              <a href="{{imagem.url}}"><img class="img-responsive" ng-src="img/{{imagem.src}}"></img></a>

          </div>
        </div>
      </div>

   <div class="row">
      <div class="objetivo">
        <div class="col-xs-2">
        <img class="img-target" src="img/target.png" />
      </div>
        <div class="col-xs-8 objText">
          <span class="grifado">Objective:</span> Intership in Web Devolepment
        </div>
      </div>
    </div>
      <div class="row">
      <div class="idiomas">
          <span class="grifado beng" style="margin-left:0.27px;">Languages:</span></br>
          <div class="delicado">
           <i class="fa fa-caret-right"></i>Portuguese(Native)<img class="flag" src="img/flag.png" /><img class="level" src="img/level3.png" />
          <span class="ingles">&nbsp;&nbsp;<i class="fa fa-caret-right"></i>English<img class="flag2" src="img/flag2.png" /><img class="level2" src="img/level.png" /></span>
          </div>
      </div>
    </span>
  </div>

  <div class="education">
    <span class="beng grifado">Education:</span>
    <a href="" ng-click="showIs = !showIs; exibir = !exibir "><i class="fa fa-caret-down"></i><span ng-class="{'my-class':exibir}"><span class="beng">Information Systems</span> <i class="fa fa-graduation-cap"></a></i></span></span>
  </br/>

  <div class="painelInformationSystems" ng-show="showIs">
    <p>
      <span class="negrito">AEDASLU</span> - Associação Educacional e Assistencial Santa Lúcia (Mogi Mirim/SP)<br/>
      (Stopped in the 3rd semester - jan/2016)<br/>
    </p>
  </div>
  <span class="beng titulo"><a href="" ng-click="showCt = !showCt;exibir2 = !exibir2"><i class="fa fa-caret-down"></i><span ng-class="{'my-class':exibir2}">Computer Technician <i class="fa fa-laptop" aria-hidden="true"></a></i></span>

  <div class="painelInformationSystems" ng-show="showCt">
      ETEC Pedro Ferreira Alves (Mogi Mirim/SP)<br />
      <i style="color:green;"class="fa fa-check" aria-hidden="true"></i> Concluded in 2012
  </div>
</div>

<div class="workExperience">
  <span class="beng grifado">Work Experience:</span><br/>
  <p>
    <i  style="color:#DF2266"class="fa fa-asterisk" aria-hidden="true"></i>
    From <span class="negrito"> Dec/2015</span> to <span class="negrito">Jan/2016</span>, as <span class="negrito">clerk</span> at <span class="negrito">Holanda Cell</span>, assisting customers in the use of cell phones, smartphones and tablets; I was responsible for performing all diagnostic of device and find out your real problem, then forward it to technician in order to make the repair.</span>

  </p>
  <p>
    <i  style="color:#DF2266"class="fa fa-asterisk" aria-hidden="true"></i>
    From <span class="negrito">Oct/2012</span> to <span class="negrito">Oct/2013</span>, as <span class="negrito">copy machine operator</span> at <span class="negrito">H Print Reprografia e Automação de Escritórios</span> where I worked at Mogi Mirim Court, internally serving all sectors making copies of sheet processes, paper supply and maintenance of the machines, reporting daily copies number.
  </p>
  <p>
    <i  style="color:#DF2266"class="fa fa-asterisk" aria-hidden="true"></i>
    From <span class="negrito">Oct/2011</span> to <span class="negrito">Aug/2012</span>, as <span class="negrito">cashier</span> at <span class="negrito">Tutti Fruit Boutique</span>, where I'd learn all the administrative and operational aspects of a trade store including from processes such as inventory control to service to the customers with payments and daily cash register closing.
  </p>
  <p>
    <i  style="color:#DF2266"class="fa fa-asterisk" aria-hidden="true"></i>
    From <span class="negrito">May/2011</span> to <span class="negrito">Oct/2011</span>, as <span class="negrito">stockists</span> at <span class="negrito"><span style="font-family:mono;">Lz</span>-Sky: Comércio e Serviços em Equipamentos para Televisão</span>, where I was responsible for controlling input and output of stock - "the famous stock control", storage of products and conference through inventories.
  </p>
</div>



      </div>


    <script src="lib/angular/angular.min.js"></script>
    <script src="main.js"></script>
    </body>
    </html>
